<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrays and Strings Prompt1</title>
    <link rel = "stylesheet" href = "/styles/promptPages.css">
    
    <!-- import script for code like text in solution component rendered on prompt show page-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    <!-- script portion for DOM manipulation of the Visualizer Area -->

    <!-- linking jQuery files -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>

    <!-- linking to corresponding script page paired with db schema instance-->
    <script src = "/scripts/<%=arraysStringsAlgorithm.dir_grabber%>/<%=arraysStringsAlgorithm.file_grabber%>.js" defer></script>

</head>
<body>
    <main class = "prompt arrays-strings">
        <section class = "header">
            <div class = "links-container">
                <span><a href = "/">Homepage</a></span>
                <span> | </span>
                <span><a href = "/arrays-strings/">Arrays and Strings Index</a></span>
            </div>
            <div class = "title-topic-description-container">
                <div class = "title"><%= arraysStringsAlgorithm.title %></div>
                <div class = "topic"> <%= arraysStringsAlgorithm.topic %> </div>
                <div class = "description"> <%= arraysStringsAlgorithm.description %> </div>
            </div>
        </section>
        <section class = "work-space">
            <span class = "visualizer-span"> "/scripts/<%=arraysStringsAlgorithm.dir_grabber%>/<%=arraysStringsAlgorithm.file_grabber%>.js" </span>
            <span class = "code-block-span"> 
                <% for (let i = 0; i < arraysStringsAlgorithm.solution.length; i++){ %>
                    <div class = "scriptLines"> 
                        <%= arraysStringsAlgorithm.solution[i] %>
                    </div>    
                <% } %> 
            </span>
        </section>
    </main>
</body>
</html>