<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trees and Graphs Prompt 1</title>
    <link rel = "stylesheet" href = "/styles/promptPages.css">

    <!-- import script for code like text in solution component rendered on prompt show page-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    <!-- script portion for DOM manipulation of the Visualizer Area -->

    <!-- linking jQuery files -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>

    <!-- linking to corresponding script page paired with db schema instance-->
    <script src = "/scripts/<%=treesGraphsAlgorithm.dir_grabber%>/<%=treesGraphsAlgorithm.file_grabber%>.js" defer></script>

</head>
<body>
    <main class = "prompt trees-graphs">
        <section class = "header">
            <div class = "links-container">
                <span><a href = "/">Homepage</a></span>
                <span> | </span>
                <span><a href = "/trees-graphs/">Trees and Graphs Index</a></span>
            </div>
            <div class = "title-topic-description-container">
                <div class = "title"> <%= treesGraphsAlgorithm.title %> </div>
                <div class = "topic"> <%= treesGraphsAlgorithm.topic %> </div>
                <div class = "description"> <%= treesGraphsAlgorithm.description %> </div>
            </div>
        </section>
        <section class = "work-space">
            <span class = "visualizer-span"> "/scripts/<%=treesGraphsAlgorithm.dir_grabber%>/<%=treesGraphsAlgorithm.file_grabber%>.js" </span>
            <span class = "code-block-span">
                <% for (let i = 0; i < treesGraphsAlgorithm.solution.length; i++){ %>
                    <div class = "scriptLines"> 
                        <%= treesGraphsAlgorithm.solution[i] %>
                    </div>    
                <% } %>
            </span>
        </section>
    </main>
</body>
</html>